$pureWhite: #fff;

html {
    margin: 0;
    padding:0;
}
body {
    background-image: url('/assets/Untitled.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    //overflow: hidden;   /*DONT FORGET TO CHANGE THIS AT THE END*/
    
}

#headerFooter {
   
    
   .nav{
       a{
           color: $pureWhite;
       }
       a:hover {
           font-weight: bold;
       }
       ul{
           list-style-type: none;
           
           li{
            display: inline-block;
               color: $pureWhite;
           }
       }
   }
}